<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="/findanex.ejs">
                <span class="fa fa-gift"></span>
                Gift Exchange With Your New Family
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/" class="fa fa-home"> Home</a></li>
                <li><a href="/login" class="fa fa-sign-in"> Login</a></li>
                <li><a href="/logout" class="fa fa-sign-out"> Logout</a></li>

                <!-- <might want to add in another link in the bar  -->
                <!-- <li><a href="/about">About</a></li> -->
            </ul>
        </div>
    
    </div>
    </nav>
    