<!doctype html>
<html>
<head>
    <title>Gift Exchange</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
    <style>
        body { 
            padding-top:50px;
        };
    </style>
</head>
<body>
<div class="container">

<!-- ================= -->
<!-- running Header for navigation -->
<!-- ================= -->
<header><% include partials/header.ejs %></header>

    <div class="jumbotron text-center">
        <h1><span class="fa fa-gift"></span> Wedding Gift Exchange</h1>

        <p>It is our sincere hope that you will get to know the new
            members of your family at this wedding. As we are in love 
            with traveling, we ask that you bring a few small gifts local 
            to where you are from or where you live, to exchange with members 
            of the other families in attendance. <br>

            Please don't make the gifts expensive and remember that this is
            the perfect opportunity to share your culture with people who may 
            have never heard of Columbus, Ohio, or Hyderabad, Telangana. 
        </p>

        <!-- ==================================================== -->
        <!-- login links moved to floating header -->
        <!-- ==================================================== -->
        <!-- <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a> -->
        <!-- <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
    </div>

</div>
</body>
</html>